body {
  background-color: white;
  overflow-x: hidden;
}
#logo {
  filter: drop-shadow(-10px 0px 6px white);
}
video {
  transform: scale(1);
}
#bkgvid,
video {
  position: static;
  margin-top: -80px;
  width: 100%;
  /* filter: grayscale(60%) blur(1px); */
}
.continue {
  margin-top: -150px;
  margin-bottom: 100px;
  color: #2a90ba;
  font-size: 50px;
}
div.whatis {
  text-align: center;
  /* margin-top: -30px; */
  margin-bottom: 15px;
}

h1 {
  font-family: "Days One", sans-serif;
  text-shadow: 1px 1px 4px #2a90ba;
}

.container {
  min-height: 500px;
}

button:hover {
  color: white !important;
}

.navqueue,
.queue {
  font-family: "Days One", sans-serif;
  color: #2a90ba;
  /* text-shadow: none; */
  font-size: 25px;
  text-shadow: 2px 2px 0px black;
  /* text-shadow: 2px 2px 15px #2a90ba;
  color: black; */
}
.queue {
  font-size: 40px;
}
.navqueue:hover {
  font-family: "Days One", sans-serif;
  color: black !important;
  text-shadow: 2px 2px 15px whitesmoke;
}

.btn {
  font-family: "Anton", sans-serif;
  border: none;
  font-size: 20px;
  color: inherit;
  background: none;
  cursor: pointer;
  /* padding: 25px 80px; */
  display: inline-block;
  /* margin: 15px 30px; */
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  position: relative;
  background-color: none;
}
.btn:hover {
  font-family: "Anton", sans-serif;
  border: none;
  font-size: 20px;
  color: #2a90ba !important;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  /* padding: 25px 80px; */
  display: inline-block;
  /* margin: 15px 30px; */
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  position: relative;
  background-color: none;
}

.navbar {
  position: sticky top;
  background-image: linear-gradient(
    to right,
    white,
    transparent,
    transparent,
    transparent
  );
  transition: background-color 1s ease-in-out;
}

nav.navbar {
  position: sticky top;
  transition: background-color 1s ease-in-out;
}
.container {
  position: relative;
}

.fa-star,
.fa-star-half {
  color: goldenrod;
}
i,
p {
  font-size: 2vw;
}
h4 {
  font-size: 3vw;
}
/* reviews section */
.reviews {
  background-color: transparent;
}
/* actual review text */
.review {
  color: slategrey;
}

#signupbtn {
  border: solid 2px black;
  background-color: #2a90ba;
  color: white;
  text-shadow: 2px 2px 15px black;
  font-size: 2vw;
  width: 15vw;
  height: 5vw;
  border-radius: 12px;
}
#signupbtn:hover {
  border: solid 2px #2a90ba;
  background-color: grey;
  text-shadow: 2px 2px 15px #2a90ba;
  font-size: 2vw;
  width: 15vw;
  height: 5vw;
  border-radius: 12px;
}
