.container-login {
  margin: auto;
  width: 60%;
  color: black;
  padding: 10px;
  font-family: lato;
}

.login100-formvalidate-form {
  margin: auto;
  width: 60%;
}

body {
  background-image: url("../media/line.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
