<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>User Event</title>
  </head>
  <body>
    <h1>Events</h1>
    <ul>
      <div class="container" id="createdEvent">
        <li>
          <h2>Book the spot for DMV</h2>
          payrate- $20<br />
          location - full address<br />
          Time -<br />
          Name-<br />

          <button type="button" class="btn btn-secondary" id="bookNowDMV">
            Book Now
          </button>
        </li>

        <li>
          <h2>Hold the pass for the concert</h2>
          payrate- $20<br />
          location - full address<br />
          Time -<br />
          Name-<br />
          <button type="button" class="btn btn-secondary" id="bookNowCON">
            Book Now
          </button>
        </li>
      </div>
    </ul>

    <script>
      $(document).ready(function() {
        // Don't refresh the page!
        $("#bookNowDMV").click(function() {
          alert("Booked");
        });

        $("#bookNowCON").click(function() {
          alert("Booked");
        });
      });
    </script>
  </body>
</html>
