<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User/Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/views/assets/css/userstyle.css">


</head>
<div id="user-profile-2" class="user-profile">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
            <li class="active">
                <a data-toggle="tab" href="#home">
                    <i class=""></i>
                    Profile
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#feed">
                    <i class=""></i>
                    Reviews
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#pictures">
                    <i class=""></i>
                    Completed Q
                </a>
            </li>
        </ul>

        <div class="tab-content no-border padding-24">
            <div id="home" class="tab-pane in active">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 center">
                        <span class="profile-picture">
                            <img class="editable img-responsive" alt=" Avatar" id="avatar2" src="https://i.kym-cdn.com/entries/icons/facebook/000/018/847/e4a829e2-502a-42d4-898f-f3169442026b-bestSizeAvailable.jpg">
                        </span>

                        <div class="space space-4"></div>
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-9">
                        <h4 class="blue">
                            <span class="middle">John Doe/ creative user name</span>
                        </h4>

                        <div class="profile-user-info">

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Location </div>
                                New York, NY 

                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Number of Q's completed </div>
                                12

                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Last completed Q </div>

                                <div class="profile-info-value">
                                    <span>random date of last completed Q</span>
                                </div>
                            </div>
                        </div>

                        <div class="hr hr-8 dotted"></div>

                        
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="space-20"></div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h4 class="widget-title smaller">
                                    Bio
                                </h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <p>
                                    lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- -->

            <div id="feed" class="tab-pane">
                <div class="profile-feed row">
                    <div class="col-sm-6">
                        <div class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="reviewer's avatar"  width="100" height= "100" src="http://cdn.onlinewebfonts.com/svg/img_266351.png">
                                <a class="user" href="#"> Jane Doe </a>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    random date
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="review's avatar"  width="100" height= "100" src="http://cdn.onlinewebfonts.com/svg/img_266351.png">
                                <a class="user" href="#">Jane Doe </a>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    random date
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        <div class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="review's avatar"  width="100" height= "100" src="http://cdn.onlinewebfonts.com/svg/img_266351.png">
                                <a class="user" href="#">Jane Doe </a>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    random date
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>

                        
                    </div><!-- /.col -->

                    <div class="col-sm-6">

                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="space-12"></div>

                <div class="center">
                    <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                        <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
                        <span class="bigger-110">View more Reviews</span>

                        <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
                    </button>
                </div>
            </div><!-- fake other users -->

           <!---- <div id="users" class="tab-pane">
                
                 
           </ -->

            <div id="pictures" class="tab-pane">
                <ul class="ace-thumbnails">
                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="checkbox" width="100" height= "100" src="https://clipartstation.com/wp-content/uploads/2018/09/check-clipart-png-2.jpg">
                            <div class="text">
                                <div class="inner">View info on completed Q</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="checkbox" width="100" height= "100" src="https://clipartstation.com/wp-content/uploads/2018/09/check-clipart-png-2.jpg">
                            <div class="text">
                                <div class="inner">View info on completed Q</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-rel="colorbox">
                            <img alt="checkbox" width="100" height= "100" src="https://clipartstation.com/wp-content/uploads/2018/09/check-clipart-png-2.jpg">
                            <div class="text">
                                <div class="inner">View info on completed Q</div>
                            </div>
                        </a>

                        <div class="tools tools-bottom">
                            <a href="#">
                                <i class="ace-icon fa fa-link"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-paperclip"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>